<header class="intro-header" style="background-image: url('assets/images/modal-bg.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1> Check Box List </h1>
          <hr class="small">
          <span class="subheading">Check box list can be generated dynamically</span>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <h2 class="example">Example</h2>
      <div class="post-preview">
        <app-checkbox-list [checkBoxList]="checkboxes"> </app-checkbox-list>
      </div>
      <div class="post-preview">
        <h2 class="example">Code Snippet</h2>
        <pre>&lt;app-checkbox-list <strong class="highlight"> [checkBoxList]="checkboxes"</strong>&gt; &lt;/app-checkbox-list&gt;</pre>
      </div>
    </div>
  </div>
</div>