<header class="intro-header" style="background-image: url('assets/images/modal-bg.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1> Check Box List </h1>
          <hr class="small">
          <span class="subheading">Check box list can be generated dynamically</span>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-6">
        <h3 class="example">Live JSON</h3>
        <textarea id="chkInputTextArea" [(ngModel)]="checkBoxListValues" style="width:100%" rows="15"></textarea>
      </div>
      <div class="col-sm-6">
          <h3 class="example">Output</h3>
        <app-checkbox-list [checkBoxList]="checkboxes" (selectedCheckBoxes)="selectedCheckBox($event)"> </app-checkbox-list>
      </div>
    </div>
  </div>
</div>