<footer class="footer">
  <div class="container">
    <div class="row">
      <div>
        <p>An angular 4 project made with<i class="fa fa-heart"></i> by <a target="_blank" href="https://www.gitshowcase.com/madhusuthanan-b">Madhu</a>
          <a id="follow-button" class="btn" title="Follow Madhu (@madhuddevloper) on Twitter" target="_blank" href="https://twitter.com/madhuddeveloper">
            <i class="fa fa-twitter"></i>
            <span  id="l">Follow <b>@madhuddevloper</b></span>
          </a>
        </p>
      </div>
    </div>
  </div>
</footer>