<header class="intro-header" style="background-image: url('../../assets/images/focus-setter-bg.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1> Focus Setter Module</h1>
          <hr class="small">
          <span class="subheading">With this module, you will be able to set focus to your target element</span>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    </div>
  </div>
</div>