<header class="intro-header" style="background-image: url('assets/images/modal-bg.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1>Bootstrap Modal Module</h1>
          <hr class="small">
          <span class="subheading">With this module, you will be able to angular 2 bootstrap overlay</span>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-4 col-md-8 col-md-offset-3">
     <button class="btn btn-primary">Click here to open overlay</button>
    </div>
  </div>
</div>