body{
    background-color: #252830;
    color: #cfd2da;
    background-image: url('./assets/images/intro-bg.jpg')
}

.heading {
    color: #fff;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;      
}
h1{
    font-size: 80px;
    margin-bottom: 10px;
    text-align: center;
}
hr.small {
    max-width: 100px;
    margin: 15px auto;
    border-width: 4px;
    border-color: #fff;
}
.subheading {
    font-size: 24px;
    line-height: 1.1;
    display: block;
    font-weight: 300;
    margin: 10px 0 0;
}