<header class="intro-header" style="background-image: url('assets/images/focus-setter-bg.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1> Focus Setter Module</h1>
          <hr class="small">
          <span class="subheading">With this module, you will be able to set focus to your target element</span>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <h2 class="example">Example</h2>
      <div class="post-preview">
        <button class="btn btn-success" set-focus-to targetElement="txtEnterFirstName"> Focus on Enter first name text box </button>
        <button class="btn btn-success" set-focus-to targetElement="txtEnterLastName"> Focus on Enter last text box </button>
        <button class="btn btn-success" set-focus-to targetElement="chkToggle"> Focus on Checkbox </button>
      </div>
      <hr>
      <div class="post-preview">
        <form>
          <div class="form-group">
            <label for="formGroupExampleInput">Enter first name</label>
            <input type="text" class="form-control" id="txtEnterFirstName" placeholder="Example input">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput2">Enter last name</label>
            <input type="text" class="form-control" id="txtEnterLastName" placeholder="Another input">
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" id="chkToggle" type="checkbox" value="">
              Option one is this and that—be sure to include why it's great
            </label>
          </div>
        </form>
      </div>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <h2 class="example">Code Snippet</h2>
      <hr>
      <div class="post-preview">
        
      </div>
      <hr>
    </div>
  </div>
</div>