<header class="intro-header" style="background-image: url('assets/images/intro-bg.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1> Explore Reusable Angular 2 Modules</h1>
          <hr class="small">
          <span class="subheading">A collection of variety of angular 2 modules, directives etc which are ready to use</span>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <ng-container *ngFor="let data of homePageData">
        <div class="post-preview">
          <a target="_blank" href={{data.resource}}>
            <h2 class="post-title">
              {{data.title}}
            </h2>
          </a>
          <h3 class="post-subtitle">
            {{data.subtitle}}
          </h3>
          <p class="post-meta">Posted by <a target="_blank" href={{data.url}}> {{data.author}}</a> on {{data.date}}</p>
        </div>
        <hr>
      </ng-container>
    </div>
  </div>
</div>
<app-footer></app-footer>