<header class="intro-header" style="background-image: url('assets/images/intro-bg.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1> Explore Reusable Angular 2 Modules</h1>
          <hr class="small">
          <span class="subheading">A collection of variety of angular 2 modules, directives etc which are ready to use</span>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div class="post-preview">
        <a href="https://toddmotto.com/transclusion-in-angular-2-with-ng-content">
          <h2 class="post-title">
            Angular Content Projection
          </h2>
        </a>
        <h3 class="post-subtitle">
          Projection is a very important concept in Angular. It enables developers to build reusable components and make applications
          more scalable and flexible
        </h3>

        <p class="post-meta">Posted by <a href="https://twitter.com/intent/follow?original_referer=https%3A%2F%2Ftoddmotto.com%2Ftransclusion-in-angular-2-with-ng-content&ref_src=twsrc%5Etfw&region=follow_link&screen_name=toddmotto&tw_p=followbutton">toddmotto</a>          on Mar 22, 2016</p>
      </div>
      <hr>
      <div class="post-preview">
        <a href="https://johnpapa.net/introducing-angular-modules-feature-modules-2/">
          <h2 class="post-title">
           Angular Modules
          </h2>
        </a>
        <h3 class="post-subtitle">
          NgModules help organize an application into cohesive blocks of functionality.
        </h3>

        <p class="post-meta">Posted by <a href="https://twitter.com/john_papa">john papa</a> on 17 SEPTEMBER 2016</p>
      </div>
      <hr>
    </div>
  </div>
</div>