body{
    background-color: #fff;
    font-size: 20px;
    -webkit-tap-highlight-color: #0085A1;
    color: #565656;
    width: 100%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    font-family: 'open_sanslight';
    font-weight: 300;
}
.btn{
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
     margin: 10px;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;   
}
.btn-default :hover {
    color: #fff;
    text-shadow: none;
    background: #0085A1;
}
.intro-header {
    background-image: url('./assets/images/intro-bg.jpg');
    background: center center no-repeat;
    background-size: cover;
    margin-bottom: 50px
}

.site-heading {
   padding: 150px 0;
   color: #fff;
   text-align: center;      
}
h1{
    font-size: 80px;
    margin-bottom: 10px;
    text-align: center;
}
hr.small {
    max-width: 100px;
    margin: 15px auto;
    border-width: 4px;
    border-color: #fff;
}
.subheading {
    font-size: 24px;
    line-height: 1.1;
    display: block;
    font-weight: 300;
    margin: 10px 0 0;
}
.example{
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}
pre {
    background: black;
    color: #fefefe;
    padding: 1.5rem;
    font-family: 'Lucida Console', monospace;
    white-space: pre;
    line-height: 1.5;
    font-size: 0.85em;
    overflow-y: auto;
}
.highlight {
    background: #3CBF3B;
    color: #222;
    border-radius: 50px;
    padding: 5px;
}
.graph-name {
    text-decoration: underline;
}
textarea {
    background: black;
    color: #3CBF3B;
}

.output-text-area {
    background: #222;
    color:#42c88a;
}
.footer{
    background: #333333;
    z-index: 100;
    position: relative;
}
.footer p {
    padding: 20px 0px;
    color: #fff;
}
.footer p i {   
    font-size: 16px;
    padding: 0px 10px;
}
.footer p a {
    color: #70c92f;
    font-family: 'open_sansbold';
}
.text-center {
    text-align: center;
}
.fa-heart{
    color: red;
}
p {
    line-height: 1.5rem;
    font-size: 1.5rem;
}
#follow-button {
    background: #0c7abf;
    position: relative;
    height: 20px;
    box-sizing: border-box;
    padding: 1px 8px 1px 6px;
    background-color: #0c7abf; 
    color: #fff;
    border-radius: 3px;
    font-weight: 500;
    cursor: pointer;
}
.fa-twitter {
    font-size: 20px;
    background: #0c7abf;
     padding: 0px 10px;
     color: #fff;
}
.scrollup {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    opacity: .3;
    position: fixed;
    bottom: 20px;
    right: 25px;
    color: #fff;
    cursor: pointer;
    background-color: #000;
    z-index: 1000;
    transition: opacity .5s, background-color .5s;
    -moz-transition: opacity .5s, background-color .5s;
    -webkit-transition: opacity .5s, background-color .5s;
}
.scrollup i {
    font-size: 13px;
    position: absolute;
    opacity: 1;
    color: #fff;
    left: 50%;
    top: 50%;
    margin-top: -7px;
    margin-left: -6px;
    text-decoration: none;
}