<div>
	<md-toolbar color="primary">
		<span><md-icon>mood</md-icon></span>

		<span>Material design angular 4</span>

		<button md-icon-button [md-menu-trigger-for]="menu">
      <md-icon>more_vert</md-icon>
    </button>
	</md-toolbar>
	<md-menu x-position="before" #menu="mdMenu">
		<button md-menu-item>Option 1</button>
		<button md-menu-item>Option 2</button>
	</md-menu>

	<md-card>
		<md-tab-group>
			<md-tab>
				<ng-template md-tab-label>
					The <em>best</em> pizza
				</ng-template>
				<h1>Best pizza restaurants</h1>
				<p>...</p>
			</md-tab>
			<md-tab>
				<ng-template md-tab-label>
					<md-icon>thumb_down</md-icon> The worst pizza
				</ng-template>
				<h1>Terrible pizza restaurants</h1>
				<p>...</p>
			</md-tab>
		</md-tab-group>
	</md-card>

	<md-card>
		<button md-button>All</button>
		<button md-raised-button>Of</button>
		<button md-raised-button color="primary">The</button>
		<button md-raised-button color="accent">Buttons</button>
	</md-card>

	<md-card>
		<md-select placeholder="State">
			<md-option *ngFor="let state of states" [value]="state.code">{{ state.name }}</md-option>
		</md-select>
	</md-card>

	<span class="done">
    <button md-fab>
      <md-icon>check circle</md-icon>
    </button>
  </span>
</div>