<header class="intro-header" style="background-image: url('assets/images/intro-bg.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1> Reactive Graphs</h1>
          <hr class="small">
          <span class="subheading">Responsive and reactive graphs</span>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <h2>In the below graph examples, click on the graph legend or hover on the graph to get amazing user experience </h2>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <h3 class="graph-name">Grouped bar chart</h3>
      <canvas id="bar-chart-grouped" width="800" height="450"></canvas>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <h3 class="graph-name">Doughnut chart</h3>
      <canvas id="doughnut-chart" width="800" height="450"></canvas>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <h3 class="graph-name">Polar area chart</h3>
      <canvas id="polar-chart" width="800" height="450"></canvas>
    </div>
  </div>  

  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <h3 class="graph-name">Line chart</h3>
      <canvas id="line-chart" width="800" height="450"></canvas>
    </div>
  </div>

</div>